/* 
    Document   : course
    Created on : Nov 28, 2011, 11:20:06 PM
    Author     : rishabh
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#courseContainer {
    margin:20px 30px 30px 10px;
    color: #2f2f2f;
    font-size:15px;
}
#courseInfo {
    border-bottom: 1px solid #afafaf;
    padding-bottom: 30px;
}
#offeringInfo {
    margin-top:30px;
}

.courseInfoHeader {
    overflow:auto;
    height:35px;
    position:relative;
    margin-bottom:15px;
}
.courseTitle {
    font-size: 20px;
    color: #3366CC;
    text-decoration: underline;
    position:absolute;
    bottom:0px;
}
.courseSubscribe {
    bottom:0px;
    right:0px;
    position: absolute;
    border-radius: 2px 2px 2px 2px;
    font-weight: bold;
    padding: 5px 10px 5px 5px;
    color: #dfdfdf;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.courseSubscribe:hover {
    cursor: pointer;
}

.Subscribed {
    background-color: #3D9400;
    background-image: -moz-linear-gradient(center top , #3D9400, #398A00);
    border: 1px solid transparent;
}
.UnSubscribed {
    background-color: #D14836;
    background-image: -moz-linear-gradient(center top , #DD4B39, #D14836);
    border: 1px solid transparent;
}
.Subscribed:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #53C700;
    background-image: -moz-linear-gradient(center top , #48AD00, #44A300);
}
.UnSubscribed:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #D65C4C;
    background-image: -moz-linear-gradient(center top , #E16151, #D65C4C);
}

.courseSubscribeLogo {
    width:22px;
    height:22px;
    background-image: url(../images/star.png);
}
.courseSubscribeText {
    padding:3px 7px 0px 6px;
    color:white;
}

.courseInfo {
    width:100%;
}

.tleft {
    font-weight: bold;
    text-align: right;
    top:0px;
    vertical-align: text-top;
    color:#7f7f7f;
    width:130px;
    padding: 4px 15px 4px 0px;
}

.gradingStats {
    padding:0px 0px 0px 5px;
    margin:0px;
}
.gradingStats li {
    list-style-type: none;
}
.gradingStats li b {
    color: #7f7f7f;
}

#gradingStatsImg {
    width:520px;
    height:250px;
}
