/* 
    Document   : courseCompare
    Created on : Nov 29, 2011, 5:04:45 AM
    Author     : Rishabh
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.gradingStats {
    padding:0px 0px 0px 5px;
    margin:0px;
    font-size: 15px;
    font-family: inherit;
}
.gradingStats li {
    list-style-type: none;
}
.gradingStats li b {
    color: #7f7f7f;
}

#courseCompareInfo {
    margin:20px 0px 20px 0px;
    padding:0px;
    border-collapse:collapse;
}

#courseCompareInfo td {
    margin:0px;
    border-style:none;
    border-top:1px solid #cdcdcd;
    border-bottom:1px solid #cdcdcd;
    padding:8px;
}

.alt {
    background: #efefef;
}

.label {
    text-align: right;
    vertical-align: text-bottom;
    font-weight: bold;
    color: #7f7f7f;
    padding-right: 12px;
}

.labelcenter {
    text-align: center;
    vertical-align: text-bottom;
    font-weight: bold;
    color: #7f7f7f;
    padding-right: 12px;
}
