

/*** CSS Common to whole site ***/
.left {
	float:left;
}
.right {
	float:right;
}
.center {
	width:1020px;
	margin: 0px auto 0px auto;
}
.declaration {
	font-size:10px;
	color: #8f0000;
	margin-top:15px;
}
a {
	text-decoration:none;
	color:inherit;
        outline: none;
}

/*** CSS Of Global Body ***/
body {
	font: 14px 'Helvetica Neo', Helvetica, Tahoma, Verdana, Georgia, 'Lucida Grande', Palatino;
	background: #E7EBF2;
	margin: 0px;
	padding:0px;
	overflow-y: scroll;
        color: #222222;
}



/*** CSS of Header ***/
#super-header {
	margin:0px;
	padding:0px;
	background: url(../images/background.png);
	width:100%;
}
#header {
	padding-top:10px;
	height:120px;
	overflow:visible;
}
#menubar {
	height:42px;
}
#header-image {
	z-index:10;
	position:absolute;
}
#header-image-wrapper {
	margin-left:15px;
	padding:3px;
	background:#ffffff;
	border: 1px solid #8f8f8f;
	border-radius:3px;
	overflow:hidden;
}
#header-image-wrapper img {
	width:160px;
	max-height:200px;
}
#logo {
	margin:35px 0px 0px 200px;
}
input#search {
	background: url(../images/search.png) no-repeat scroll 5px 6px transparent;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	border-radius: 3px;
	font-size: 16px;
	height: 26px;
	line-height: 1.2em;
	padding: 2px 10px 2px 28px;
	width: 160px;
	float:right;
	margin-top:70px;
}
input#search:focus {
	background-color:#f9f9f9;
	width:260px;
}
#menubar {
	-webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 2px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0A0A0A));
	background: -moz-linear-gradient(top, #252525, #0A0A0A); 
	margin:0px auto 6px;
	font-size:18px;
	font-family: Calibri;
	color: #afafaf;
	text-transform: capitalize;
	position:relative;
	z-index:2;
}
.menu {
	height:32px;
	padding:10px 25px 0px 25px;
	text-align:center;
}
.menu:hover {
	background: #EFEFEF;
	cursor: pointer;
	color: #3f3f3f;
}



/**** Main Body ***/
#main-body {
	overflow:auto;
	width:1020px;
	margin: 0px auto 0px auto;
	background:#ffffff;
	-moz-box-shadow: 0px 0px 2px 2px #afafaf;
	-webkit-box-shadow: 0px 0px 2px 0px #afafaf;
	box-shadow: 0px 0px 2px 2px #afafaf;
	border:1px solid #9f9f9f;
	padding:0px;
	position:relative;
	top:-9px;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	min-height: 600px;
	padding-bottom:25px;
}


/*** Sidebar ****/
#sidebar {
	width:200px;
	margin-top:40px;
	border-right: 1px solid #dfdfdf;
}
.linkset {
	padding:5px 0px 5px 0px;
}
#linkset_header {
	font-weight:bold;
	font-size:13px;
	color: #D14836;
	padding:2px 2px 2px 10px;
	text-transform:uppercase;
}
.linkset ul {
	text-decoration:none;
	padding:5px 0px 5px 0px;
	margin:0px;
}

.sb_selected {
	border-left: 5px solid #DD4B39;
	padding-left:20px !important;
        color: #DD4B39;
}

.linkset ul li {
	list-style-type:none;
	padding: 7px 6px 7px 25px;
}
.linkset ul li:hover {
	background:#eaeaea;
	cursor: pointer;
}

/**** BODY ****/
#body {
	width:790px;
        padding-top: 20px;
}


/***** Search CSS ****/
#search_container {
    margin: 0px 60px 20px 10px
}
#serach_header {
    height:20px;
}
#search_counter {
    color: #5f5f5f;
    font-size: 14px;
    padding: 2px 0px 2px 0px;
    border-bottom: 1px solid #dfdfdf;
    margin-bottom:28px;
}
#search_entries {
    margin-bottom: 20px;
    width: 550px;
}
.search_entry {
    margin:0px 10px 23px 0px;
}
.search_title {
    font-size: 18px;
}
.search_title a {
    text-decoration:underline;
    color: #1122CC;
}
.search_title a:link {
    color: #1122CC;
}
.search_title a:visited {
    color: #6611CC;
}
.search_url {
    color: #009933;
    font-size:13px;
    padding: 1px 0px 1px 0px;
}
.search_description {
    color: #222222;
}
.arrow {
    width:40px;
    height:40px;
}
.arrowleft {
    background-image: url(../images/arrows.png);
}
.arrowright {
    background-image: url(../images/arrows.png);
    background-position: -40px;
}
.arrow:hover {
    background-image: url(../images/arrowsDark.png);
}
.pageid {
    padding:5px 10px 5px 10px;
    background: #efefef;
    color:blue;
    margin-top:12px !important;
}
.pageid:hover {
    background: #cfcfcf;
}
#search_pagination ul li {
    list-style-type: none;
    float: left;
    margin:5px;
}
.pageSelected {
    background: #cfcfcf;
}

.SubmitButton {
    width: 120px;
    text-align: center;
    background-color: #3D9400;
    background-image: -moz-linear-gradient(center top , #3D9400, #398A00);
    border: 1px solid transparent;
    border-radius: 2px 2px 2px 2px;
    font-weight: bold;
    padding: 5px 10px 5px 5px;
    color: #dfdfdf;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.SubmitButton:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #53C700;
    cursor: pointer;
    background-image: -moz-linear-gradient(center top , #48AD00, #44A300);
}
