/* 
    Document   : login.css
    Created on : Nov 26, 2011, 2:41:05 AM
    Author     : rishabh
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#login-body {
    padding: 40px 40px 20px 40px;
    font-family: arial,helvetica,sans-serif;
    color: #4f4f4f;
}

#login-info {
    width:500px;
}

#login-info p {
    font-size: 16px;
    letter-spacing: 1px;
}

#login-box {
    width:320px;
    color: #333333;
    background: #F5F5F5;
    margin:12px 0px 0px 0px;
    padding:25px;
    border: 1px solid #E5E5E5;
}


.inputField {
    width:310px;
    padding: 0px 5px 0px 5px;
    border-radius: 1px;
    height:30px;
    font-size:14px;
    border: 1px solid #7f7f7f;
    margin: 4px 0px 0px 0px;
}

.inputField:focus {
    border-color: blue;
    box-shadow:0 0 8px rgba(82,168,236,.5);
    -moz-box-shadow:0 0 8px rgba(82,168,236,.5);
    -webkit-box-shadow:0 0 8px rgba(82,168,236,.5);
}


#submit_button {
    color:white;
    font-size:14px;
    padding:6px 15px 6px 15px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4D90FE;
    background-image: -moz-linear-gradient(center top , #4D90FE, #4787ED);
    border: 1px solid #3079ED;
    font-weight:bold;
}
#submit_button:hover {
    background-color: #357AE8;
    background-image: -moz-linear-gradient(center top , #4D90FE, #357AE8);
    border: 1px solid #2F5BB7;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}